<div class="login">
	<h1>Login</h1>
  <form method="post">
    <input type="text" name="u" placeholder="Username" required="required" /><br><br>
    <input type="password" name="p" placeholder="Password" required="required" /><br><br>
    <button type="submit" class="btn btn-primary btn-block btn-large" >Iniciar Sesión</button>
  </form>
</div>